 *{
   margin: 2;
   padding: 0;
   box-sizing: border-box;
 }
 body {
 	background-image: url( "../img/universo.jpg");
 	background-size: cover;
 	font-family: Aharoni;
	color: white
 }

.logo-nav-container{
	display: flex;
	justify: space-between;
	aling-items: center;
    list-style: none;
}

	.logo {
	letter spacing: 10px;
	font-size: 1.6em;
         list-style: none;
        margin-right: 15px;

}

	.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
    color: white;
        
}

	.navigation ul li{
		display: inline-block;
         list-style: none;
          color: white;
}

	.navigation ul li a{
		display: block;
		padding: 0.5rem 2.5em;
		border-radius: 5px;
		transition: all 0.6s linear;
          color: white;
        list-style:none;
     
}

	.navigation ul li a:hover{
		background: #BC0CFF;
		color: white;
         list-style: none;
}

 .box{
 	width: 410px;
 	background: rgba(255, 255, 255, 0.5);
 	margin: 0 auto;
 	margin-top: 4%;
 	padding: 20px
 	color: white;
 	text-align: center;
 	border-radius: 14px;
 }

 .image-box {
 	width: 170px;
 	height: 200px;
 	border-radius: 40%;
 }
}
.box h1{
     font-size: 60px;
     letter-spancing: 4px;
     font-weingth: 600;
     margin-bottom: 10px;
     color:white ;
    }
.box h3{
	font-size: 25px;
     letter-spancing: 4px;
     font-weingth: 400px;
     margin-bottom:10px;
}    
.box p{
text-aling: justify;
}
.box ul{
	list-style: none;
	margin-top: 10px;
}
.box ul li{
	display: inline-block;
}
.box ul li a{
	color: purple;
	font-size: 30px;
	padding: 10px 6px;
	display: block;
	transition: all 0.7s aese-in-out;
}
.box ul li a:hover{
	color: hotpink;
	transform: scale(1.2);
}