*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
	background: #5679FF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	text-align: center;
	color: white;
}

header{ /*encabezado*/
    width: 100%;
    height: 100%;
    background: #7E3FAD;
}

.logo-title{
    display: flex; /*llevamos a la derecha el texto*/
    margin-left: 90px;
    font-size: 20px;

}

.logo-title img{
    width: 30px;
    height: 20px;
    margin-top: 3px;
    margin-left: 8px;
    float: left;
    
}

.logo-title h1{ /*titulo*/
    font-family: Futura Hv BT;
    font-size: 42px;
    color: white;
    margin-right: 250px;
    margin-top: 0px;
}

.navigation a{ /*botones*/
	font-family: futura;
    font-size: 20px;
    color: white;
    margin-right: 30px;
    
}
a{ 
    text-decoration: none;
} 
.navigation ul{
	margin: 1px;
	padding: 0px;
	list-style: none;
}

	.navigation ul li{
		display: inline-block;
}

	.navigation ul li a{
		display: block;
		padding: 0.9rem 0.9em;
		border-radius: 1px;
		transition: all 0.3s linear;
}

	.navigation ul li a:hover{
		background: #96EAFF;
		color:purple;
}

.presentacion> img{ /*presentacion*/
	width:40%;
    margin-bottom: 5px;
    margin: 18px 0px 40px;
}
.presentacion > span{
	font-size: 18px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
    

}

.details button{ /*boton para ir a pagina*/
    background: #A950FF;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 8px 20px;
     border: none;
    margin: 10px 0px;
}
.details button:hover{
    background: #6700F9;
    color: white;
    border: none;
}

.imagenes h1{
	text-align: center;
	font-size: 30px;
	margin: 15px 0x 60px;
	color: black;
	text-shadow: 0px 0px 20px #711A75;
}

body p {
    margin-top: 100px;
    font-family: Futura Hv BT;
    font-size: 40px;
}